*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}

.underline{
  text-decoration: underline;
}

.header{
  width: 100%;
  height: 180px;
}

.center-header{
  width: 90%;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 150px;
}

.logo-img{
  width: 100%;
}

.list-nav{
  margin: 0;
}

.nav-items{
  font-weight: 500;
  list-style: none;
  text-align: right;
  font-size: 13px;
  letter-spacing: 2px;
}

.line{
  letter-spacing: -5px;
}

.nav-items a{
  color: black;
}

.nav-items a:hover{
  text-decoration: underline;
}

.main{
  background-color: #F6EFE4;
}

/*CURRENT POST*/

.current-post{
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  top: -50px;
}

.date{
  /*width: 10%;*/
}

.date-reverse{
  transform: rotate(-90deg);
}

.date-reverse p{
  margin: 0;
}

.small{
  font-size: 8px;
  position: relative;
  top: -5px;
  font-weight: 600;
}

.post{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.img-post{
  width: 100%;
}

.img-post img{
  width: 100%;
}

.text-post{
  display: flex;
  justify-content: space-between;
}

.title-more{
  width: 40%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-post{
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  text-decoration: underline;
  letter-spacing: 2px;
  line-height: 35px;
}

.title-more a{
  color: black;
}

.body-post{
  width: 55%;
  text-align: justify;
  margin: 0;
}

/*GRID POST*/

.grid-post{
  width: 80%;
  margin: 50px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 200px;
  position: relative;
}

.item-grid{
  width: 30%;
  display: flex;
}

.img-text-post{
  display: flex;
  flex-direction: column;
}

.text-post-grid{
  text-align: right;
}

/*INSTAGRAM*/

.instagram{
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: -130px;
}

.instagram-newsletter{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.instagram-newsletter p{
  margin: 0;
}

.small-newsletter{
  font-size: 12px;
}

.input-newsletter{
  background:none;
  border:none;
  border-bottom: 1px solid black;
  }

.grid-photos{
  width: 100%;
  display: flex;
  height: 300px;
  justify-content: space-between;
}

.item-grid-photos{
  width: 15%;
}

.item-grid-photos img{
  width: 100%;
}

.up{
  align-self: flex-start;
}

.down{
  align-self: flex-end;
}

/*FOOTER*/

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.list-rrss{
  width: 700px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -100px;
}

.list-rrss li{
  color: black;
  font-weight: bold;
}

.copyright{
  position: relative;
  top: -50px;
}
